<img src="../logo.png" alt="My Logo" width="100">
<% if (user) { %>
    <div id='logoutlogin'>
      <a href='/logout'><button class="user">Log Out</button></a>
    </div>
  <% } else { %>
    <div id='logoutlogin'>
      <a id='loginlink' href='/auth/google'><button class="user"> Login with Google</button></a>
    </div>
  <% } %>  
      


