<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
    <title>Error</title>
</head>
<body>
    <h1 id="error">Seems like an error occured! I apoligize! Please go back to your profile and try again</h1>
    <a href="/profile"><button>My profile</button></a>
</body>
</html>