<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Task-Master</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
   <header id="signin"><a href="/login">Sign in</a></header>
    <h1>Task Master</h1>

</body>
</html>

