<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task List</title>
</head>
<body>
  <h2 id='login'>Login Or Logout</h2>
<ul class='right'>
    <li>
      <% if (user) { %>
        <div id='logoutlogin'>
          <a href='/logout'><button>Log Out</button></a>
        <span id='welcomeuser'>Hi <%= user.name %> </span>
        </div>
      <% } else { %>
        <div id='logindiv'>
          <a id='loginlink' href='/auth/google'><button id='loginbutton'> Login with Google</button></a>
        </div>

      <% } %>  
    </li>
  </ul>

  <h1>Task List</h1>
  <ul>
    <% if (user) { %>
      <% user.tasks.forEach(task => { %>
        <li>
          <%= task.title %>
          <form action="/tasks/delete/<%= task._id %>" method="post">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }); %>
      <form action="/tasks/add" method="post">
        <input type="text" name="title" placeholder="Add a task">
        <button type="submit">Add Task</button>
      </form>
    <% } else { %>
      <h1>Please sign in to start adding tasks!</h1>
    <% } %>
  </ul>
</body>
</html>