<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task List</title>
</head>
<body>
  <h2 id='login'>Login Or Logout</h2>
<ul class='right'>
    <li>
      <% if (user) { %>
        <div id='logoutlogin'>
          <a href='/logout'><button>Log Out</button></a>
        <span id='welcomeuser'>Hi <%= user.name %> </span>
        </div>
        <h1>User's Tasks</h1>
  <ul>
    <% if (user && user.tasks) { %>
      <% user.tasks.forEach(task => { %>
        <li><%= task.title %></li>
      <% }); %>
    <% } else { %>
      <p>No tasks found.</p>
    <% } %>
  </ul>
 
        <h2>Add a Task</h2>
        <form action="/profile" method="post">
          <input type="text" name="title" placeholder="Task Title" required>
          <button type="submit">Add Task</button>
        </form>
        
      <% } else { %>
        <div id='logindiv'>
          <a id='loginlink' href='/auth/google'><button id='loginbutton'> Login with Google</button></a>
        </div>

      <% } %>  
    </li>
  </ul>
  
  
</body>
</html>