<h1>Your Tasks!</h1>
<% if (user && user.tasks.length === 0) { %>
  <p>You have no tasks!</p>
<% } %>
<% if (user) { %>
  <ul>
    <% user.tasks.forEach(task => { %>
      <li><%= task.title %></li>
      <form action="/profile/remove/<%= task._id %>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    <% }); %>
  </ul>
  <h2>Add a Task</h2>
  <form action="/profile" method="POST">
    <input type="text" name="title" placeholder="Task Title" required>
    <button type="submit">Add Task</button>
  </form>
  <% } else { %>
    <p>Please login to start adding tasks</p>
    <% } %>
    



  
