body {
    background-color: aqua;
}
button:hover {
background-color: yellow;
}
button{
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
    border: none;
}
#error{
    text-align: center;
}
footer{
    margin-top: 100px ;
    font-size: 30px;
    text-align: center;
}
.form{
width: 50%;
padding: 12px;
font-size: 20px;
text-align: center;
box-sizing: border-box;
}
.addtask{
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskhead{
    text-align: center;
    font-size: 32px;
}
#head {
    text-align: center;
    font-size: 30px;
}
.tasks{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
#notloggedin{
    font-size: 40px;
    text-align: center;
}
#logoutlogin{
    display: flex;
    flex-direction: row-reverse;
}
#taskbar{
font-size: 45px;
text-align: center;
margin: 0;
}